* {
    box-sizing: border-box;
}

:root{
    --color-theme: #8c94ff;
}

.d-flex{
    display: flex !important;
}

.btn-cancel{
    color: #ff5a5a;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
    transition: .3s;
    &:hover{
        color: #ff9a9a;
    }
}


body{
    color: white;
    background-color: #222;
}

#app{
    display: flex;
    height: 100dvh;
    overflow: hidden;
    > div{
        padding: 0 1.5rem;
        flex-grow: 1;
        scroll-behavior: smooth;
        &:not(:last-child){
            border-right: 2px solid #444;
        }
    }
}

.scrollable {
    --scrollbar-color-thumb: var(--color-theme);
    --scrollbar-color-track: #333;
    --scrollbar-width: normal;
    --scrollbar-width-number: 6px;
    overflow: auto;
}

/* Chrome / Edge / Firefox */
@supports (scrollbar-width: auto) {
    .scrollable {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }
}

/* Chrome / Edge / Safari */
@supports selector(::-webkit-scrollbar) {
    .scrollable {
        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-color-thumb);
            border-radius: calc(var(--scrollbar-width-number) / 2);
        }
        &::-webkit-scrollbar-track {
            background: var(--scrollbar-color-track);
            border-radius: calc(var(--scrollbar-width-number) / 2);
        }
        &::-webkit-scrollbar {
            max-width: var(--scrollbar-width-number);
            max-height: var(--scrollbar-width-number);
        }
    }
}

a, a:visited{
    color: var(--color-theme);
    text-decoration: none;
    line-height: 2;
    transition: .3s;
}

a:hover{
    color: #c8cbff;
}

select, textarea{
    background-color: #333;
    border-radius: .5rem;
    color: white;
    font-family: "Source Code Pro", monospace;
}

select{
    padding: .5rem 1.5rem .5rem 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}


#app > {
    .col-style{
        --width: 12.5rem;
        min-width: var(--width);
        max-width: var(--width);

        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 1rem;
        ul{
            padding-left: 1.25rem;
            margin: 0;
            color: #666;
        }
    }
    .col-items{
        flex-grow: 1;
        padding-bottom: 2rem;
    }
    .col-textarea{
        --width: 18rem;
        min-width: var(--width);
        max-width: var(--width);
    
        display: flex;
        flex-direction: column;

        textarea{
            position: relative;
            z-index: 4;
            flex-grow: 1;
            width: 100%;
            padding: 1rem;
            margin-bottom: 2rem;
            font-size: 1rem;
            line-height: 2;
        }
    }
}

.bottom-links{
    text-align: center;
    margin-top: auto;
}


h2{
    position: sticky;
    top: 0;
    background-color: #222;
    z-index: 4;
    padding: 2rem 0;
    margin: 0;
}

.list-card{
    padding: 0;
    margin: 0;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
    > li{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem;
        background-color: #333;
        color: white;
        background-size: cover;
        padding-top: 10rem;
        border-radius: .5rem;
        overflow: hidden;
        cursor: pointer;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, .3);
            background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 50%);
            z-index: 1;
            transition: .3s;
            pointer-events: none;
        }
        &:hover::before{
            background-color: transparent;
        }
        span, small{
            position: relative;
            z-index: 2;
        }
        small{
            opacity: .6;
        }
    }
}